
#bottom_append{
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0px;
	
}

#bottom_append > div{
	margin-left: 4px;
}

#bottom_append > div > form > div.messages{
	position: relative;
	height: 300px;
}

/* Business Name */
#bottom_append > div > form > #business_name{
	height: 20px;
	width: 259px;
}

#bottom_append > div > form > div.row > .info{
	color: white;
	height: 22px;
	font-weight: bold;
	padding-left: 5px;
	margin-bottom: 25px;
	border:1px solid rgb(173, 80, 80);
    background-color: rgb(173, 80, 80);
}
/* End Business Name */

/* Upload Bottons */
#bottom_append > div > form > #upload_button{
    width: 264px;
    height: 24px;
    margin-left: -16px;
    clear: both;
    z-index: 5;
}


.fileUpload {
    position: relative;
    padding: 0px 3px;
    border-radius: 0px;
    overflow: hidden;
    margin-left: 1px;
    height: 24px;
    width: 64px;
}
.fileUpload > input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* End Upload Bottons */


#bottom_append > div > form > div#messages > div{
	height: 226px;
    width: 259px;
    margin-bottom: 28px;
    border: 1px solid rgba(204,204,204,1);
    overflow:auto;
    background-color: white;
}


#bottom_append > div > form > div.row > input{
	position: absolute;
	bottom: 3px;
	width: 259px;
	left: 0px;
}



.message-container{
	border: 1px solid #eee;
	background: #eee;
	border-radius: 10px;
	width: 225px;
	float: left;
	margin-top: 5px;
	padding-left: 10px;
	word-wrap: break-word;
	padding-top: 10px;
	padding-bottom: 10px;
}
.message-container > a > img{
	width: 200px;
	height: 100px; 
}
.message-container.me{
    border: 1px solid skyblue;
	background: skyblue;
	border-radius: 10px;
	width: 225px;
	float: right;
	margin-top: 5px;	
	word-wrap: break-word;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}